In [1]:
import numpy as np

import pandas as pd

import matplotlib.pyplot as plt

import nsepy as ny

from datetime import date

In [3]:
A1 = ny.get_history(symbol='SBIN',
                   start=date(2015,1,1),
                   end=date(2015,1,10))
A1

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2015-01-01,SBIN,EQ,311.85,312.45,315.00,310.70,314.00,314.00,313.67,6138488,1.925489e+14,58688,1877677,0.3059
2015-01-02,SBIN,EQ,314.00,314.35,318.30,314.35,315.60,315.25,316.80,9935094,3.147389e+14,79553,4221685,0.4249
2015-01-05,SBIN,EQ,315.25,316.25,316.80,312.10,312.80,312.75,313.84,9136716,2.867432e+14,88236,3845173,0.4208
2015-01-06,SBIN,EQ,312.75,310.00,311.10,298.70,299.90,299.90,305.14,15329257,4.677601e+14,169268,7424847,0.4844
2015-01-07,SBIN,EQ,299.90,300.00,302.55,295.15,301.40,300.15,299.95,15046745,4.513243e+14,147185,5631400,0.3743
2015-01-08,SBIN,EQ,300.15,305.00,306.50,302.35,305.25,304.85,304.55,8939749,2.722593e+14,85776,3656015,0.4090
2015-01-09,SBIN,EQ,304.85,306.70,307.85,302.00,303.00,303.20,304.45,11953948,3.639361e+14,86383,4412814,0.3692

In [7]:
A2 = ny.get_history(symbol='SBIN',
                   start=date(2020,4,1),
                   end=date(2020,4,10))
A2

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2020-04-01,SBIN,EQ,196.85,194.00,194.5,185.25,187.00,186.55,188.22,52954482,9.967150e+14,400004,15025872,0.2838
2020-04-03,SBIN,EQ,186.55,187.55,188.2,175.00,176.00,175.50,178.56,64455937,1.150915e+15,589657,22742948,0.3528
2020-04-07,SBIN,EQ,175.50,184.40,187.3,177.60,185.75,186.40,182.25,72133717,1.314668e+15,486914,15551736,0.2156
2020-04-08,SBIN,EQ,186.40,182.90,194.4,180.45,182.80,183.00,186.60,80436673,1.500987e+15,501541,12076385,0.1501
2020-04-09,SBIN,EQ,183.00,188.00,190.0,183.60,187.55,187.75,187.20,62417301,1.168453e+15,366071,9350138,0.1498